<p>
  <strong>Movie Name:</strong>
  <%= @movie.movie_name %>
</p>
 
<p>
  <strong>Language:</strong>
  <%= @movie.Language %>
</p>
<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>
 
<p>
  <strong>type of the movie:</strong>
  <%= @movie.type_of_movie %>
</p>

 <%= link_to 'back', movies_path %>