
<%= link_to "Home", controller: "welcome" %>
<h1>rentals.............</h1>
  
<table>
  <tr>
    <th>Phone number</th>
    <th>Movie Name</th>
    
  </tr>
 
  <% @rental.each do |rental| %>
    <tr>
      <td><%= rental.phone_num %></td>
      <td><%= rental.moviename%></td>
      
      
       <td><%= link_to 'Delete_rental', rental_path(rental),
                    method: :delete, data: { confirm: 'Are you sure you want to delete this rental?' } %></td>
    </tr>
    
  <% end %>
  
</table>

<%= link_to 'Add rental', new_rental_path %>

 